<html>
<head>
<title>Hello, Rails!</title>
</head>
<body>
<h1>Hello from Rails!</h1>
<p>
It is now <%= @time %>
</p>
<p>
  Tine to say:
  <%= link_to "Goodbye22!", :action => "goodbye22" %>
</p>
<p>
  Time to loop:
  <%= link_to "Looping!", :action => "looping" %>
</p>
</body>
</html>
